{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/employee_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>Employee DashBoard</title>
</head>
<body>
    {% include  'navbar.html'  %}


    <div class="main_body">

        
        <div class="statbox_grid">
            
            <div class="stat_box" id = "box1">
                
                <span class = "title" >ASSIGNED</span>
                <span class = "number" >67</span>
                
            </div>     
            <div class="stat_box" id="box2">
                <span class = "title" >COMPLETED</span>
                <span class = "number" >67</span>
            </div>    
            <div class="stat_box" id="box3">
                <span class = "title" >IN PROGRESS</span>
                <span class = "number" >67</span>
            </div>
            <div class="stat_box" id = "box4">
                <span class = "title" >PENDING</span>
                <span class = "number" >67</span>
            </div>
            
        </div>

        <div class="viewTask">

            <h3 class="task_title"></h3>
            <h3 class="task_due_date"></h3>
            <h3 class="task_assigned_by"></h3>
            <h3 class="task_status"></h3>
            <p class="task_description"></p>

        </div>

        

    
        <div class="tasks">


            <!-- <div class="tabs"> -->
                <!-- <span class="tab" id="pending_tab"> pending</span> -->
                <!-- <span class="tab" id="completed_tab"> completed</span> -->
            <!-- </div> -->


            <div class="tasklist" id = "pending">

                {% for task in tasks %}

                <div class="singleTask" id =  "{{task.id}}" >

                    {% if task.status == 'assigned' %}

                    <input type="text" class = "status" value= "assigned">

                    {% elif task.status == 'in_progress' %}

                    <input type="text" class = "status" value= "in_progress">

                    {% elif task.status == 'completed' %}

                    <input type="text" class = "status" value= "completed">

                    {% endif %}

                    <h3 class = "title" >{{ task.title }}</h3>
  
                    <form action="" >

                        {% csrf_token %}

                        <select name="" class ="select_status" value = "{{task.status}}" >

                            {% if task.status == 'assigned' %}
                            <option value="assigned" selected >Assigned</option>
                            <option value="in_progress">In Progress</option>
                            <option value="completed">Completed</option>

                            {% elif task.status == 'in_progress' %}
                            <option value="assigned"  >Assigned</option>
                            <option value="in_progress" selected>In Progress</option>
                            <option value="completed">Completed</option>

                            {% elif task.status == 'completed' %}
                            <option value="assigned"  >Assigned</option>
                            <option value="in_progress" >In Progress</option>
                            <option value="completed" selected>Completed</option>

                            {% endif %}



                        </select>

                        <button class="confirm">confirm</button>

                    </form>

                    <h3 class="due_date">{{task.due_date}}</h3>
                    <h3 class="assigned_by">{{task.assigned_by}}</h3>
                    <h3 class="description">{{task.description}}</h3>
                    

                </div>

                {% endfor %}

            </div>

            <!-- <div id="completed" class = "tasklist"> -->

                <!-- {% for i in tasks %} -->

                <!-- <div class="singleTask"> -->

                <!-- </div> -->

                <!-- {% endfor %} -->

            <!-- </div> -->

        </div>

    </div>
        

    <script src = "{% static 'js/employee_dashboard.js' %}" ></script>
    </body>
    </html>